@model WebApp.Models.OrderItemViewModel

<form method="post" asp-action="AddOrderItem" id="form">
	<partial name="Partials/_ModalHeader" model='"Add Dish"' />

	<div class="modal-body" id="modalBody">
		<input type="hidden" asp-for="DishId" id="selectedDishId" />
		<input type="hidden" asp-for="OrderId" />

		<div class="mb-3">
			<label asp-for="Quantity" class="form-label">Quantity</label>
			<input type="number" class="form-control" asp-for="Quantity" min="1" placeholder="Enter quantity" />
			<span asp-validation-for="Quantity" class="text-danger"></span>
		</div>

		<div class="mb-3">
			<label asp-for="Notes" class="form-label">Notes</label>
			<textarea class="form-control" asp-for="Notes" rows="3" placeholder="Optional notes for the order item"></textarea>
			<span asp-validation-for="Notes" class="text-danger"></span>
		</div>
	</div>

	@{
		string Button = $"<button class='btn btn-info' type='button' onclick='menuOrder({Model.OrderId})'>Back</button> <button type='submit' class='btn btn-primary'>Save</button> ";
	}

	<partial name="Partials/_ModalFooter" model='@Button' />
</form>

<script>
	function menuOrder(id) {
		var url = '@Url.Action("OrderMenu", "Order", new { orderId = "__orderId__" })'.replace("__orderId__", id);
		$.get(url, function (response) {
			$('#modalContent').html(response);
			$('#modal').modal('show');
		});
	}
</script>