@using Models.Entities
@model WebApp.Models.OrderViewModel

<form method="post" asp-action="EditOrderItem" id="form">

	<partial name="Partials/_ModalHeader" model='"Edit Order Information"' />
	<div class="modal-body" id="modalBody">
		
		<h4>Order Items</h4>

		@if (Model.OrderItems != null && Model.OrderItems.Any())
		{
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Dish Name</th>
						<th>Quantity</th>
						<th>Create By</th>
						<th>Price</th>
						<th>Status</th>
						<th>Notes</th>
					</tr>
				</thead>
				<tbody>
					@for (int i = 0; i < Model.OrderItems.Count; i++)
					{
						<input type="hidden" asp-for="OrderItems[i].OrItemId" />
						<input type="hidden" asp-for="OrderItems[i].DishId" />
						<tr>
							<td>
								<input type="hidden" asp-for="OrderItems[i].OrItemId" />
								<span>@Model.OrderItems[i].Dish?.DishName</span>
							</td>
							<td>
								<input type="hidden" asp-for="OrderItems[i].Quantity" />
								<span>@Model.OrderItems[i].Quantity</span>
							</td>
							<td>
								<input type="hidden" asp-for="OrderItems[i].CreatedBy" />
								<span>@Model.OrderItems[i].Creator?.FullName</span>
							</td>
							<td>
								<input type="hidden" asp-for="OrderItems[i].Price" />
								<span>@Model.OrderItems[i].Price?.ToString("C")</span>
							</td>
							<td>
								<select asp-for="OrderItems[i].Status" asp-items="Model.OrderItems[i].StatusOptions" class="form-select" id="Status_@i">
								</select>
								<span asp-validation-for="OrderItems[i].Status" class="text-danger"></span>
							</td>
							<td>
								<input type="text" asp-for="OrderItems[i].Notes" class="form-control" id="Notes_@i" placeholder="Notes" />
								<span asp-validation-for="OrderItems[i].Notes" class="text-danger"></span>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		else
		{
			<p>No order items found for this order.</p>
		}
	</div>

	@{
		string Button = $"<button type='submit' class='btn btn-primary'>Save</button>";
	}

	<partial name="Partials/_ModalFooter" model='Button' />
</form>
