@model WebApp.Models.OrderViewModel

@{
    ViewData["Title"] = "Create Order";
    Layout = "_DashboardLayout";
}

<h1 class="mb-4">Create Order</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="TableId" class="form-label">Table</label>
        <input asp-for="TableId" type="text" class="form-control" id="TableId" readonly/>
        <span asp-validation-for="TableId"></span>
    </div> 
    <button type="submit" class="btn btn-primary">Create Order</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
