@model OrderViewModel

@{
    ViewData["Title"] = "Delete Order";
    Layout = "_DashboardLayout";
}

<h2>Delete Order</h2>

<div class="text-danger mb-3">@TempData["Error"]</div>

<form asp-action="Delete" method="post" enctype="multipart/form-data">
    <partial name="Partials/_OrderPartial" model="Model" />

    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-action="index" class="btn btn-secondary">Back to Orders</a>
</form>
