@model DishViewModel
@{
    ViewData["Title"] = "User Details Dish";
    Layout = "_HomeLayout";
}

<h1 class="mb-4">Dish Details</h1>

<div class="text-danger mb-3">@TempData["Error"]</div>

<partial name="Partials/_DishPartial" model="Model" />

<div class="d-flex gap-3 mt-3">
    <a asp-controller="Home" asp-action="Menu" class="btn btn-secondary">Back</a>
</div>
