@model DishCategoryViewModel

<form method="post" asp-action="Edit" id="form">
	<partial name="Partials/_ModalHeader" model='"Edit Dish Category"' />

	<div class="modal-body" id="modalBody">

		@if (@TempData["Error"] != null)
		{
			<div class="alert alert-danger" role="alert">
				@TempData["Error"]
			</div>
		}

		<div class="form-floating mb-3">
			<div class="form-floating mb-3">
				<input asp-for="CategoryId" type="hidden" />
				<input asp-for="CategoryId" class="form-control" disabled />
				<label asp-for="CategoryId"></label>
			</div>
			<input asp-for="CategoryName" class="form-control" id="CategoryName" />
			<label asp-for="CategoryName">Category Name</label>
			<span asp-validation-for="CategoryName" class="text-danger"></span>

		</div>

	</div>
	@{
		string saveButton = "<button type='submit' class='btn btn-primary'>Save</button>";
	}

	<partial name="Partials/_ModalFooter" model='@saveButton' />
</form>	

