@model CategoryViewModel

<div class="form-floating mb-3">
    <input asp-for="CategoryId" class="form-control" id="CategoryId" />
    <label asp-for="CategoryId">Category ID</label>
</div>

<div class="form-floating mb-3">
    <input asp-for="CategoryName" class="form-control" id="CategoryName" />
    <label asp-for="CategoryName">Category Name</label>
    <span asp-validation-for="CategoryName" class="text-danger"></span>

</div>
@switch (ViewData["Title"] as string)
{
    case "Create Category":
        <script>
            document.getElementById("CategoryId").closest("div").style.display = 'none';
        </script>
        break;
    case "Edit Category":
        <script>
            document.getElementById("CategoryId").setAttribute("readonly", true);
        </script>
        break;
    case "Details Category":
    case "Delete Category":
        <script>
            for (let input of document.getElementsByTagName("input")) {
                input.setAttribute("readonly", true);
            }
            document.getElementById("IsActive").setAttribute("disabled", true);
        </script>
        break;
}
