<a asp-controller="Home" asp-action="Index">
	<img src="https://placehold.co/256x256?text=Logo" alt="Logo" class="img-fluid rounded" style="height: @ViewData["LogoSize"]px; width: @ViewData["LogoSize"]px" />
</a>
