@model ReservationViewModel

<div class="form-floating mb-3">
    <input asp-for="ResId" class="form-control" id="ResId" />
    <label asp-for="ResId"></label>
    <span asp-validation-for="ResId" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <select asp-for="CustomerId" asp-items='@new SelectList(Model.Customers,"UserId","FullName")' class="form-control" id="CustomerId">
        <option value="">Select a Customer</option>
    </select>
    <label asp-for="CustomerId"></label>
    <span asp-validation-for="CustomerId" class="text-danger"></span>
</div>

<div>
    Full Name: <span>@Model.Customer?.FullName</span><br />
    Phone: <span>@Model.Customer?.Phone</span>
</div>

<div class="form-floating mb-3">
    <input asp-for="PartySize" class="form-control" id="PartySize" />
    <label asp-for="PartySize"></label>
    <span asp-validation-for="PartySize" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <input asp-for="ResDate" type="date" class="form-control" id="ResDate" />
    <label asp-for="ResDate"></label>
    <span asp-validation-for="ResDate" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <input asp-for="DepositAmount" class="form-control" id="DepositAmount" />
    <label asp-for="DepositAmount"></label>
    <span asp-validation-for="DepositAmount" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <input asp-for="ResTime" type="time" class="form-control" id="ResTime" />
    <label asp-for="ResTime"></label>
    <span asp-validation-for="ResTime" class="text-danger"></span>
</div>

<div class="form-floating mb-3">

    <select asp-for="Status" class="form-control">
        @foreach (var status in Enum.GetValues(typeof(Models.Entities.ReservationStatus)))
        {
            <option value="@status">@status</option>
        }
    </select>
    <label asp-for="Status"></label>
    <span asp-validation-for="Status" class="text-danger"></span>
</div>

<div class="form-floating mb-3">
    <textarea asp-for="Notes" class="form-control" id="Notes"></textarea>
    <label asp-for="Notes"></label>
    <span asp-validation-for="Notes" class="text-danger"></span>
</div>

@switch (ViewData["Title"] as string)
{
    case "Create Reservation":
        <script>
            document.getElementById("ResId").closest("div")?.remove();
        </script>
        break;

    case "Edit Reservation":
        <script>
            document.getElementById("ResId").setAttribute("readonly", true);
        </script>
        break;

    case "Details Reservation":
    case "Delete Reservation":
        <script>
            for (let input of document.getElementsByTagName("input")) {
                input.setAttribute("readonly", true);
            }
            document.getElementById("Notes").setAttribute("readonly", true);
            document.getElementById("Status").setAttribute("disabled", true);
        </script>
        break;
}
