@model PayrollViewModel

<form method="post" asp-action="Create" id="form">
	<partial name="Partials/_ModalHeader" model='"Create Payroll"' />

	<div class="modal-body" id="modalBody">
		<partial name="Partials/_AlertDanger" model="@TempData["Error"]" />

		<div class="form-floating mb-3">
			<select asp-for="EmpId" asp-items="Model.EmployeeList" class="form-select">
				<option selected disabled>Select an Employee</option>
			</select>
			<label asp-for="EmpId">Employee</label>
			<span asp-validation-for="EmpId" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="MonthAndYear" class="form-control" type="month" value=""/>
			<label asp-for="MonthAndYear"></label>
			<span asp-validation-for="MonthAndYear" class="text-danger"></span>
		</div>
		
	</div>

	@{
		string createButton = "<button type='submit' class='btn btn-primary'>Create</button>";
	}

	<partial name="Partials/_ModalFooter" model="@createButton" />
</form>
