@model PayrollViewModel

<form method="post" asp-action="Edit" id="form">
    <partial name="Partials/_ModalHeader" model='"Edit Payroll"' />

    <div class="modal-body" id="modalBody">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["Error"]
            </div>
        }

        <input asp-for="PayrollId" type="hidden" />


        <input asp-for="CreatedBy" class="form-control" type="hidden" id="CreatedBy" />


        <input asp-for="CreatedAt" class="form-control" type="hidden" id="CreatedAt"  />



        <input asp-for="EmpId" class="form-control" type="hidden" id="EmpId"  />


        <input asp-for="Month" class="form-control" id="Month" type="hidden" min="1" max="12"  />



        <input asp-for="Year" class="form-control" id="Year" type="hidden"  />



        <input asp-for="WorkingHours" class="form-control" id="WorkingHours" type="hidden" step="0.01"  />



        <input asp-for="Salary" class="form-control" id="Salary" type="hidden" step="0.01"  />


        <div class="form-floating mb-3">
            <select asp-for="Status" asp-items="Html.GetEnumSelectList<Models.Entities.PayrollStatus>()" class="form-select" id="Status" required>
                <option selected disabled>Please select Status</option>
            </select>
            <label asp-for="Status"></label>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="PaymentDate" class="form-control" type="date" id="PaymentDate" />
            <label asp-for="PaymentDate">Payment Date</label>
            <span asp-validation-for="PaymentDate" class="text-danger"></span>
        </div>
    </div>

    @{
        string editButton = "<button type='submit' class='btn btn-primary'>Save Changes</button>";
    }

    <partial name="Partials/_ModalFooter" model='@editButton' />
</form>
