@model ForgotPasswordViewModel
@{
	ViewData["Title"] = "Forgot Password";
	Layout = "_AccountLayout";
}

<form asp-action="ForgotPassword" method="post" class="col-md-6">
	<div class="d-flex justify-content-center mb-2">
		<partial name="Partials/_LogoPartial" model='new string("64px")'/>
	</div>
	<h1 class="text-center mb-4">Forgot Password</h1>
	<div class="text-danger mb-3">@TempData["Error"]</div>
	<div class="form-floating mb-3">
		<input asp-for="Username" class="form-control" />
		<label asp-for="Username"></label>
		<span asp-validation-for="Username" class="text-danger"></span>
	</div>
	<div class="form-floating mb-3">
		<input asp-for="Email" class="form-control" />
		<label asp-for="Email"></label>
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>
	<div class="d-grid gap-2 mb-3">
		<button type="submit" class="btn btn-primary">Continue</button>
	</div>
	<div>
		Back to <a asp-action="Login" class="text-decoration-none">Login</a>
	</div>
</form>
