@model ScheduleViewModel

<form method="post" asp-action="Edit" id="form">
    <partial name="Partials/_ModalHeader" model='"Edit Schedule"' />

    <div class="modal-body" id="modalBody">

        <partial name="Partials/_AlertDanger" model="@TempData["Error"]" />

        <div class="form-floating mb-3">
            <input asp-for="ScheId" type="hidden" />
            <input asp-for="ScheId" class="form-control" disabled />
            <label asp-for="ScheId"></label>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="ScheDate" type="date" class="form-control" id="ScheDate" />
            <label asp-for="ScheDate"></label>
            <span asp-validation-for="ScheDate" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="EmpId" type="hidden"/>
            <input asp-for="EmployeeName" type="hidden"/>
            <input value="@Model.EmployeeName" class="form-control" disabled/>
            <label asp-for="EmpId"></label>
            <span asp-validation-for="EmpId" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <select asp-for="ShiftId" asp-items="Model.ShiftOptions" class="form-select" id="ShiftId">
                <option selected id="DefaultSelectShiftId">Please select Shift</option>
            </select>
            <label asp-for="ShiftId"></label>
            <span asp-validation-for="ShiftId" class="text-danger"></span>
        </div>

        <input type="hidden" asp-for="Attendance"/>
    </div>

    @{
        string createButton = "<button type='submit' class='btn btn-primary'>Save</button>";
    }
    <partial name="Partials/_ModalFooter" model='@createButton' />
</form>

<script>
    document.getElementById("DefaultSelectEmpId").remove();
    document.getElementById("DefaultSelectShiftId").remove();
</script>
            