@model StorageViewModel

<form method="post" asp-action="Create" id="form">
	<partial name="Partials/_ModalHeader" model='"Create Item"' />

	<div class="modal-body" id="modalBody">

		<partial name="Partials/_AlertDanger" model="@TempData["Error"]" />

		<div class="form-floating mb-3">
			<input asp-for="ItemName" class="form-control" id="ItemName" />
			<label asp-for="ItemName">Item Name</label>
			<span asp-validation-for="ItemName" class="text-danger"></span>
		</div>

		<div class="form-floating mb-3">
			<input asp-for="Unit" class="form-control" id="Unit" />
			<label asp-for="Unit">Unit</label>
			<span asp-validation-for="Unit" class="text-danger"></span>
		</div>
	</div>

	@{
		string createButton = "<button type='submit' class='btn btn-primary'>Create</button>";
	}

	<partial name="Partials/_ModalFooter" model='@createButton' />
</form>